<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="userData">
      {{ userData.nom_de_famille }} {{ userData.prenom }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userData">
  <ion-card>
    <ion-card-content>
      <img [src]="userData.path_img_cin" />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="primary" name="person" slot="start"></ion-icon>
      <ion-label>{{ userData.nom_de_famille }} {{ userData.prenom }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon color="primary" name="mail" slot="start"></ion-icon>
      <ion-label>{{ userData.email }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon color="primary" name="call" slot="start"></ion-icon>
      <ion-label>{{ userData.numero }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon color="primary" name="barcode" slot="start"></ion-icon>
      <ion-label>{{ userData.path_txt_cin }}</ion-label>
    </ion-item>
  </ion-card>
  <br />
  <ion-button
    routerLink="/admin-app-use/edit-user/{{ userData._id }}/consumer"
    expand="full"
    fill="clear"
    color="success"
    >Editer</ion-button
  >
  <ion-button
    (click)="deleteUser()"
    expand="full"
    fill="clear"
    color="danger"
    >Supprimer</ion-button
  >
</ion-content>
