
@font-face {
  font-family: 'JaapokkiRegular';
  src: url('JaapokkiRegular.eot?#iefix') format('embedded-opentype'),  url('JaapokkiRegular.woff') format('woff'), url('JaapokkiRegular.ttf')  format('truetype'), url('JaapokkiRegular.svg#JaapokkiRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
